<mat-card>
  <mat-card-content>

<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <!-- <th>Actions</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <ng-container *ngIf="user.role != 'ADMIN'">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
          <!-- <td><button mat-button (click)="onDeleteUser(user.id)">
            <mat-icon>delete</mat-icon>
          </button></td> -->
        </ng-container>
      </tr>
    </tbody>
  </table>
  </mat-card-content>
  <br>
</mat-card>
  
