<mat-card>
    <div class="container">
        <h2 class="pt-3">{{title}}</h2>
        <mat-card class="form-card mat-elevation-z4">
            <form class="create-form" [formGroup]="registerForm" (ngSubmit)="submitForm()" enctype="multipart/form-data">

                <div class="form-group row">
                    <div class="col">
                        <mat-form-field class="create-full-width" appearance="fill">
                            <mat-label>Class</mat-label>
                            <!-- <input matInput formControlName="classes" /> -->
                            <mat-select formControlName="classes">
                                <mat-option *ngFor="let option of classes" [value]="option.id">
                                    {{ option.classes }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col">
                        <mat-form-field class="create-full-width" appearance="fill">
                            <mat-label>Subject</mat-label>
                            <!-- <input matInput formControlName="subject" /> -->
                            <mat-select formControlName="subject">
                                <mat-option *ngFor="let option of subjects" [value]="option.id">
                                    {{ option.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="col">
                    <input type="file" (change)="onFileSelected($event)" />
                </div>

                <!-- <button mat-raised-button color="primary" (click)="uploadFile()">Upload</button> -->

                <!-- <div class="form-group row">
                    <mat-form-field class="create-full-width" appearance="fill">
                        <mat-label>Class Teacher</mat-label>
                        <mat-select formControlName="classTeacherId">
                            <mat-option *ngFor="let option of teachers" [value]="option.id">
                                {{ option.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> -->

                <!-- <div class="form-group row">
                    <mat-form-field class="create-full-width" appearance="fill">
                        <mat-label>Remarks</mat-label>
                        <input matInput formControlName="remarks" />
                    </mat-form-field>
                </div> -->

                <button mat-raised-button color="primary" type="submit"
                    [disabled]="registerForm.invalid">Upload</button>
            </form>
        </mat-card>
    </div>
</mat-card>