
<div class="card-body">
    <div class="row">
        <div class="col-md-12">
             <app-mytable 
             [HeadArray]="headArray" 
             [GridArray]="list"
             [title]="title"
             (onEdit)="edit($event)"  
             (onDelete)="deletes($event)" 
             (onCreate)="create()"
             (onToggle)="toggle($event)" 
             [showToggleButton]="showToggleButton"
             [showCreateButton]="showCreateButton"
             [showEditButton]="showEditButton"
             [showDeleteButton]="showDeleteButton"
             [showViewButton]="showViewButton"
             ></app-mytable>
        </div>
    </div>
</div>
