<mat-card>
    <mat-card-header>
        <ng-container class="flex justify-between">
        <h4>{{message}}</h4>
        <app-feepayment></app-feepayment>
    </ng-container>
    </mat-card-header>

    <!-- <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <app-feepayment></app-feepayment>
                 <app-mytable [HeadArray]="headArray" [GridArray]="usersList"
                 (onEdit)="editUser($event)"  (onDelete)="deleteUser($event)"></app-mytable>
            </div>
        </div>
    </div> -->
</mat-card>